.capa {
    width: 100%;
    height: 347px;
    background-size: cover;                     /* tenta pegar todo o tamanho que declaramos*/
    background-repeat: no-repeat;               /* não repete a imagem */
}